body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
h1{
    text-align: center;
}
div{
    margin-left: 15%;
}
#fb{
    list-style-image: url(../img/facebook-icon_32x32.png);
}
#in{
    list-style-image: url(../img/instagram-icon_32x32.png);
}
#tw{
    list-style-image: url(../img/twitter-icon_32x32.png);
}
img{
    width: 70%;
    margin-left: 15%;
}
a{
    color: white;
    text-decoration: none;
}